 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

 html {
	 overflow-y:scroll;
 }

.sheet-container {
    position: relative;
	font-family: 'Noto Sans', monospace;
	overflow-y:scroll;
}

.sheet-header {
	width:90%;
	font-family:Caveat, cursive;
}

.sheet-tabs {
  margin-top: 10px;
  position: relative;
  width: 90%; }
  .sheet-tabs::after {
    clear: both;
    content: '';
    display: block; }
  .sheet-tabs .sheet-tab {
    width: 100%; }
    .sheet-tabs .sheet-tab:nth-of-type(2) > input[type="radio"], 
	.sheet-tabs .sheet-tab:nth-of-type(2) > .sheet-tab-label {
      margin-left: 25%; }
    .sheet-tabs .sheet-tab:nth-of-type(3) > input[type="radio"], 
	.sheet-tabs .sheet-tab:nth-of-type(3) > .sheet-tab-label {
      margin-left: 50%; }
    .sheet-tabs .sheet-tab:nth-of-type(4) > input[type="radio"], 
	.sheet-tabs .sheet-tab:nth-of-type(4) > .sheet-tab-label {
      margin-left: 75%; }
    .sheet-tabs .sheet-tab > input[type="radio"] {
      height: 30px;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 24%;
      z-index: 1; }
      
      .sheet-tabs .sheet-tab > input[type="radio"]:hover ~ .sheet-tab-label {
        background: #111111;
        color: white;
      }
      
    .sheet-tabs .sheet-tab > .sheet-tab-label {
      align-items: center;
      background: #555555;
      border-radius: 15px;
      color: white;
      display: flex;
      font-variant: small-caps;
	  font-size:12px;
      font-weight: bold;
      height: 30px;
      justify-content: center;
      margin: 0;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      width: 24%;
    }
      
    .sheet-tabs .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-label {
      background: teal;
    }
    
    .sheet-tabs .sheet-tab > input[type="radio"]:checked {
      cursor: auto; }
    .sheet-tabs .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-content {
      display: block;
    }
    
    .sheet-tabs .sheet-tab .sheet-tab-content {
      display: none;
      min-height: 300px;
      padding-top: 32px;
      width: 100%;
      z-index: 10;
      }

    .sheet-content {
        min-height:300px;
    }

.row {
	display:flex;
	padding: 2px;
	border-bottom: 1px solid #111111;
}

fieldset {
	border-radius: 15px;
	margin: 10px 0 10px 0;
	padding: 20px 10px 20px 10px;
}

legend {
	margin-bottom: 5px;
	font-size: 1.1em;
	font-weight:bold;
}

.sheet-label {
	width:200px;
}

.sheet-input {
	margin:2px;
	height:24px;;
}


.sheet-heading {
    font-weight:bold;
    border:0px;
    border-radius:0px;
    font-variant: small-caps;
}

button .sheet-rollatrrib, button .sheet-rollskill{
    background: seashell;
    color: black;
}

.sheet-attrblock {
    background: #333333;
    border-radius:15px;
    padding: 5px;
    color: lightgrey;
    text-align:center;
}

h1 {
	margin:5px;
}

.sheet-attrblock input {
    font-size: 12px;
    line-height:15px;
    height: 15px;
    margin-bottom:5px;
}

.sheet-attrname {
    font-weight:bold;
    font-size: 16px;
    width:145px;
    background:transparent;
    border:0px;
    color:White;
}

.sheet-skillblock {
    margin-left:20px;
}

.sheet-top {
}

.sheet-blocklabel {
    float: left;
    font-weight:bold;
    background:transparent;
    border:0px;
    color:White;
}

.sheet-dirstats {
    width:50px;
    text-align:center;
    background:transparent;
    border:0px;
    color: white;
}

table.sheet-xp {
    width: 250px;
}
table.sheet-xp th{
    text-align: center;
    font-weight:bold;
    border:1px solid gold;
    border-radius:15px;
}
table.sheet-xp td{
    text-align: center;
    border:1px solid gold;
    border-radius:15px;
    padding:5px;
    color: white;
}

.sheet-rolltemplate-basic div.sheet-template-container {
    background: black;
    color: white;
	border: 2px solid gold !important;
	border-radius: 10px;
}

.sheet-rolltemplate-basic .sheet-template-header {
	color: green;
	padding: 2px;
	border-bottom: 1px solid gold;
	line-height: 1.6em;
	font-size: 1.2em;
	font-weight: bold;
    font-variant: small-caps;
	text-align: center;
}

.sheet-rolltemplate-basic div {
	padding: 5px;
	border-bottom: 1px solid gold;
}

.sheet-rolltemplate-basic .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 1px solid gold;
	border-radius: 5px;
	background: #333333;
}

.sheet-rolltemplate-basic .inlinerollresult.fullcrit {
	border: 1px solid gold;
	background: green;
}

.sheet-rolltemplate-basic .inlinerollresult.fullfail {
	border: 1px solid gold;
	background: red;
}

.sheet-rolltemplate-basic .inlinerollresult.importantroll {
	border: 1px solid gold;
	background: blue;
}

.sheet-rolltemplate-stat div.sheet-template-container {
    background: black;
    color: white;
	border: 2px solid gold !important;
	border-radius: 10px;
}

.sheet-rolltemplate-stat .sheet-template-header {
	color: green;
	padding: 2px;
	border-bottom: 1px solid gold;
	line-height: 1.6em;
	font-size: 1.2em;
	font-weight: bold;
    font-variant: small-caps;
	text-align: center;
}

.sheet-rolltemplate-stat div {
	padding: 5px;
	border-bottom: 1px solid gold;
}

.sheet-rolltemplate-stat .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 1px solid gold;
	border-radius: 5px;
	background: #333333;
}

.sheet-rolltemplate-stat .inlinerollresult.fullfail {
	border: 1px solid gold;
	background: green;
}

.sheet-rolltemplate-stat .inlinerollresult.fullcrit {
	border: 1px solid gold;
	background: red;
}

.sheet-rolltemplate-stat .inlinerollresult.importantroll {
	border: 1px solid gold;
	background: blue;
}

